* {
    box-sizing: border-box;
}

.row {
    background-color: rgba(75, 75, 75, 0.74);
    height: auto;
    padding: 1% 0px 1% 0px;
    margin: 1% 0px 1% 0px;
    width: auto;
}

.column {
    float:left;
    margin: 1%;
    padding: 0.5% 1% 0.5% 1%;
    width: auto;
    max-width: 500px;
    height: 100%;
    background-color: rgba(206, 206, 206, 0.486);
}

div.row:after {
    content: "";
    display: table;
    clear: both;
}